In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df =pd.read_csv("weight-height.csv")

In [3]:
df

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
8550  Female  60.483946  110.565497
8551  Female  63.423372  129.921671
8552  Female  65.584057  155.942671
8553  Female  67.429971  151.678405
8554  Female  60.921791  131.253738

[8555 rows x 3 columns]

# Encoding

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
le= LabelEncoder()

In [6]:
df.Gender = le.fit_transform(df[["Gender"]])

C:\Users\Binu\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [7]:
df.head()

   Gender     Height      Weight
0       1  73.847017  241.893563
1       1  68.781904  162.310473
2       1  74.110105  212.740856
3       1  71.730978  220.042470
4       1  69.881796  206.349801

In [8]:
df.isnull().sum()

Gender    0
Height    0
Weight    0
dtype: int64

In [9]:
x = df.drop(["Weight"], axis=1)

In [10]:
 x

      Gender     Height
0          1  73.847017
1          1  68.781904
2          1  74.110105
3          1  71.730978
4          1  69.881796
...      ...        ...
8550       0  60.483946
8551       0  63.423372
8552       0  65.584057
8553       0  67.429971
8554       0  60.921791

[8555 rows x 2 columns]

In [11]:
y =df["Weight"]

In [12]:
y

0       241.893563
1       162.310473
2       212.740856
3       220.042470
4       206.349801
           ...
8550    110.565497
8551    129.921671
8552    155.942671
8553    151.678405
8554    131.253738
Name: Weight, Length: 8555, dtype: float64

# train test split

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
xtrain,xtest,ytrain,ytest =train_test_split(x,y,test_size=0.3, random_state=1)

In [15]:
xtrain.shape

(5988, 2)

In [16]:
ytrain.shape

(5988,)

In [17]:
xtest.shape

(2567, 2)

In [18]:
ytest.shape

(2567,)

# Linear Regression

In [19]:
from sklearn.linear_model import LinearRegression

In [20]:
Lin= LinearRegression()

In [21]:
Lin

LinearRegression()

In [22]:
Lin.fit(xtrain,ytrain)

LinearRegression()

In [23]:
xtest.ndim

2

In [24]:
df["New Y"] = Lin.predict(x)

In [25]:
df

      Gender     Height      Weight       New Y
0          1  73.847017  241.893563  215.574352
1          1  68.781904  162.310473  185.341329
2          1  74.110105  212.740856  217.144694
3          1  71.730978  220.042470  202.943984
4          1  69.881796  206.349801  191.906445
...      ...        ...         ...         ...
8550       0  60.483946  110.565497  116.468265
8551       0  63.423372  129.921671  134.013329
8552       0  65.584057  155.942671  146.910187
8553       0  67.429971  151.678405  157.928220
8554       0  60.921791  131.253738  119.081708

[8555 rows x 4 columns]

In [26]:
pred =Lin.predict(xtest)

# Model Evaluation

In [27]:
Lin.score(xtest,ytest)

0.9059959607091161

In [28]:
from sklearn.metrics import mean_squared_error

In [29]:
mse = mean_squared_error(ytest,pred)

In [30]:
mse

99.67250998070031

In [31]:
Lin.predict([[0,60.80]])

array([118.35475352])

# KNN Regression

In [32]:
from sklearn.neighbors import KNeighborsRegressor

In [33]:
neigh =KNeighborsRegressor(n_neighbors=5) #n_neighbors=5,

In [34]:
neigh.fit(xtrain,ytrain)

KNeighborsRegressor()

In [35]:
neigh.score(xtest,ytest)

0.8838502073708883

# Tuning

In [36]:
 import numpy as np

In [37]:
n_neighbors = [int(x) for x in np.linspace(50,200,15)]

weights = ['uniform', 'distance']

 

 
# Create ids
grids = {'n_neighbors': n_neighbors,
         
 
               'weights': weights,
               
               }
print(grids)

{'n_neighbors': [50, 60, 71, 82, 92, 103, 114, 125, 135, 146, 157, 167, 178, 189, 200], 'weights': ['uniform', 'distance']}

In [38]:
 from sklearn.model_selection import RandomizedSearchCV

In [39]:
 rnf=KNeighborsRegressor()

In [40]:
rmcv = RandomizedSearchCV(estimator=rnf, param_distributions=grids, n_iter=100, cv=5, random_state=0, n_jobs =1)

In [41]:
rmcv

RandomizedSearchCV(cv=5, estimator=KNeighborsRegressor(), n_iter=100, n_jobs=1,
                   param_distributions={'n_neighbors': [50, 60, 71, 82, 92, 103,
                                                        114, 125, 135, 146, 157,
                                                        167, 178, 189, 200],
                                        'weights': ['uniform', 'distance']},
                   random_state=0)

In [42]:
rmcv.fit(xtrain,ytrain)

C:\Users\Binu\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:285: UserWarning: The total space of parameters 30 is smaller than n_iter=100. Running 30 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

RandomizedSearchCV(cv=5, estimator=KNeighborsRegressor(), n_iter=100, n_jobs=1,
                   param_distributions={'n_neighbors': [50, 60, 71, 82, 92, 103,
                                                        114, 125, 135, 146, 157,
                                                        167, 178, 189, 200],
                                        'weights': ['uniform', 'distance']},
                   random_state=0)

In [43]:
rmcv.best_params_

{'weights': 'uniform', 'n_neighbors': 50}

In [44]:
rmcv.cv_results_

{'mean_fit_time': array([0.01588063, 0.00999422, 0.0121727 , 0.0095624 , 0.00977993,
        0.010324  , 0.01197429, 0.01562681, 0.01093593, 0.01955419,
        0.01260681, 0.0147469 , 0.00941582, 0.00956392, 0.00920744,
        0.00944114, 0.00959091, 0.00939112, 0.00964179, 0.00942264,
        0.01014571, 0.00997076, 0.0115798 , 0.00940633, 0.00919676,
        0.01217356, 0.01021876, 0.0099606 , 0.01000991, 0.01117797]),
 'std_fit_time': array([6.78933838e-03, 2.70788933e-05, 3.92013981e-03, 5.03057317e-04,
        4.02701218e-04, 7.46621627e-04, 2.60712799e-03, 1.02085708e-02,
        5.64382990e-04, 1.43339166e-02, 2.56996333e-03, 9.60182929e-03,
        4.83508608e-04, 5.31742429e-04, 3.81504933e-04, 5.21263935e-04,
        4.71670108e-04, 4.82000751e-04, 4.89346629e-04, 4.98356327e-04,
        1.11960555e-03, 8.89306063e-04, 3.70742312e-03, 5.00937077e-04,
        3.95104921e-04, 5.45348021e-03, 1.05980118e-03, 6.24017705e-04,
        6.52607488e-04, 2.92981010e-03]),
 'mean_score_time': array([0.025388  , 0.02338943, 0.0250814 , 0.03063688, 0.03030229,
        0.03790827, 0.03624668, 0.03571544, 0.04244208, 0.04333019,
        0.04368339, 0.0450408 , 0.0420114 , 0.04594431, 0.0459691 ,
        0.05029192, 0.0482295 , 0.05580735, 0.05209708, 0.05307932,
        0.06572199, 0.07658887, 0.06822023, 0.06039367, 0.06460147,
        0.06284723, 0.07207208, 0.0707459 , 0.06723776, 0.07197328]),
 'std_score_time': array([0.00641416, 0.00277426, 0.00134276, 0.00963985, 0.00670062,
        0.01204895, 0.01061175, 0.00232418, 0.01385709, 0.00869154,
        0.00505424, 0.00694959, 0.00648673, 0.00945429, 0.00654797,
        0.00980145, 0.00633154, 0.01166564, 0.00936724, 0.00590021,
        0.01266345, 0.0212264 , 0.01407422, 0.00556219, 0.01010883,
        0.00254256, 0.01130793, 0.00940872, 0.0085769 , 0.00783052]),
 'param_weights': masked_array(data=['uniform', 'distance', 'uniform', 'distance',
                    'uniform', 'distance', 'uniform', 'distance',
                    'uniform', 'distance', 'uniform', 'distance',
                    'uniform', 'distance', 'uniform', 'distance',
                    'uniform', 'distance', 'uniform', 'distance',
                    'uniform', 'distance', 'uniform', 'distance',
                    'uniform', 'distance', 'uniform', 'distance',
                    'uniform', 'distance'],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_n_neighbors': masked_array(data=[50, 50, 60, 60, 71, 71, 82, 82, 92, 92, 103, 103, 114,
                    114, 125, 125, 135, 135, 146, 146, 157, 157, 167, 167,
                    178, 178, 189, 189, 200, 200],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'weights': 'uniform', 'n_neighbors': 50},
  {'weights': 'distance', 'n_neighbors': 50},
  {'weights': 'uniform', 'n_neighbors': 60},
  {'weights': 'distance', 'n_neighbors': 60},
  {'weights': 'uniform', 'n_neighbors': 71},
  {'weights': 'distance', 'n_neighbors': 71},
  {'weights': 'uniform', 'n_neighbors': 82},
  {'weights': 'distance', 'n_neighbors': 82},
  {'weights': 'uniform', 'n_neighbors': 92},
  {'weights': 'distance', 'n_neighbors': 92},
  {'weights': 'uniform', 'n_neighbors': 103},
  {'weights': 'distance', 'n_neighbors': 103},
  {'weights': 'uniform', 'n_neighbors': 114},
  {'weights': 'distance', 'n_neighbors': 114},
  {'weights': 'uniform', 'n_neighbors': 125},
  {'weights': 'distance', 'n_neighbors': 125},
  {'weights': 'uniform', 'n_neighbors': 135},
  {'weights': 'distance', 'n_neighbors': 135},
  {'weights': 'uniform', 'n_neighbors': 146},
  {'weights': 'distance', 'n_neighbors': 146},
  {'weights': 'uniform', 'n_neighbors': 157},
  {'weights': 'distance', 'n_neighbors': 157},
  {'weights': 'uniform', 'n_neighbors': 167},
  {'weights': 'distance', 'n_neighbors': 167},
  {'weights': 'uniform', 'n_neighbors': 178},
  {'weights': 'distance', 'n_neighbors': 178},
  {'weights': 'uniform', 'n_neighbors': 189},
  {'weights': 'distance', 'n_neighbors': 189},
  {'weights': 'uniform', 'n_neighbors': 200},
  {'weights': 'distance', 'n_neighbors': 200}],
 'split0_test_score': array([0.89209189, 0.8734337 , 0.89182117, 0.87419831, 0.89176106,
        0.87488253, 0.89137175, 0.87538028, 0.89091823, 0.87568013,
        0.89024842, 0.8759357 , 0.88945215, 0.87610951, 0.88899153,
        0.87629079, 0.88877441, 0.87641836, 0.88846793, 0.87657658,
        0.88767116, 0.87663498, 0.88702774, 0.87666972, 0.88649341,
        0.87670255, 0.88579685, 0.87671868, 0.88530686, 0.87675341]),
 'split1_test_score': array([0.89499469, 0.8767249 , 0.89391056, 0.87713662, 0.89354813,
        0.87758579, 0.89345953, 0.87797962, 0.89293177, 0.87820075,
        0.8921925 , 0.87832559, 0.8917117 , 0.87847751, 0.89144471,
        0.87862608, 0.89093964, 0.87870163, 0.89062254, 0.87881024,
        0.88997825, 0.87882502, 0.88919653, 0.87878155, 0.88846813,
        0.87877218, 0.88791186, 0.87877668, 0.8873393 , 0.87879157]),
 'split2_test_score': array([0.88902236, 0.87644506, 0.88891572, 0.87690269, 0.88876375,
        0.87724474, 0.88811414, 0.8775047 , 0.88757324, 0.87766495,
        0.8870928 , 0.87780455, 0.88693702, 0.87797998, 0.88651494,
        0.87812443, 0.88635249, 0.87823627, 0.8858983 , 0.87832542,
        0.88542227, 0.87840552, 0.88506169, 0.8784553 , 0.88455801,
        0.87852389, 0.88412943, 0.87857861, 0.88366664, 0.87860832]),
 'split3_test_score': array([0.89112848, 0.87658682, 0.89098297, 0.87712788, 0.89087295,
        0.87765731, 0.89094662, 0.87818059, 0.89072725, 0.87849078,
        0.88994642, 0.8787225 , 0.8893868 , 0.87887775, 0.88880043,
        0.87902791, 0.88850336, 0.87915635, 0.88797443, 0.87921449,
        0.88755275, 0.8792624 , 0.88713827, 0.87933069, 0.88649234,
        0.87930387, 0.88623653, 0.87933521, 0.88602764, 0.87935606]),
 'split4_test_score': array([0.89985876, 0.88678866, 0.90051604, 0.88754783, 0.90046382,
        0.88810416, 0.8999606 , 0.88850302, 0.89985035, 0.88887833,
        0.89986704, 0.88927047, 0.89949726, 0.88955402, 0.8992302 ,
        0.88978397, 0.89900614, 0.88996791, 0.898602  , 0.89009652,
        0.89843244, 0.89026111, 0.8979259 , 0.8903624 , 0.89729577,
        0.89044747, 0.89682556, 0.8905179 , 0.89612209, 0.89053881]),
 'mean_test_score': array([0.89341924, 0.87799583, 0.89322929, 0.87858267, 0.89308194,
        0.8790949 , 0.89277053, 0.87950964, 0.89240017, 0.87978299,
        0.89186944, 0.88001176, 0.89139699, 0.88019976, 0.89099636,
        0.88037064, 0.89071521, 0.8804961 , 0.89031304, 0.88060465,
        0.88981138, 0.8806778 , 0.88927003, 0.88071993, 0.88866153,
        0.88074999, 0.88818005, 0.88078542, 0.88769251, 0.88080963]),
 'std_test_score': array([0.00374944, 0.0045636 , 0.00397986, 0.00461793, 0.00399952,
        0.00461905, 0.00397837, 0.00460564, 0.00410078, 0.00465227,
        0.00431759, 0.00472684, 0.00432269, 0.00477228, 0.00440277,
        0.00479891, 0.00439277, 0.00482628, 0.00440831, 0.00483049,
        0.00454526, 0.00487409, 0.00452132, 0.00490301, 0.00449071,
        0.0049271 , 0.00448734, 0.00494505, 0.00437843, 0.00494249]),
 'rank_test_score': array([ 1, 30,  2, 29,  3, 28,  4, 27,  5, 26,  6, 25,  7, 24,  8, 23,  9,
        22, 10, 21, 11, 20, 12, 19, 13, 18, 14, 17, 15, 16])}

In [45]:
pd.DataFrame(rmcv.cv_results_)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_weights,param_n_neighbors,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.015881,0.006789,0.025388,0.006414,uniform,50,"{'weights': 'uniform', 'n_neighbors': 50}",0.892092,0.894995,0.889022,0.891128,0.899859,0.893419,0.003749,1
1,0.009994,0.000027,0.023389,0.002774,distance,50,"{'weights': 'distance', 'n_neighbors': 50}",0.873434,0.876725,0.876445,0.876587,0.886789,0.877996,0.004564,30
2,0.012173,0.003920,0.025081,0.001343,uniform,60,"{'weights': 'uniform', 'n_neighbors': 60}",0.891821,0.893911,0.888916,0.890983,0.900516,0.893229,0.003980,2
3,0.009562,0.000503,0.030637,0.009640,distance,60,"{'weights': 'distance', 'n_neighbors': 60}",0.874198,0.877137,0.876903,0.877128,0.887548,0.878583,0.004618,29
4,0.009780,0.000403,0.030302,0.006701,uniform,71,"{'weights': 'uniform', 'n_neighbors': 71}",0.891761,0.893548,0.888764,0.890873,0.900464,0.893082,0.004000,3
5,0.010324,0.000747,0.037908,0.012049,distance,71,"{'weights': 'distance', 'n_neighbors': 71}",0.874883,0.877586,0.877245,0.877657,0.888104,0.879095,0.004619,28
6,0.011974,0.002607,0.036247,0.010612,uniform,82,"{'weights': 'uniform', 'n_neighbors': 82}",0.891372,0.893460,0.888114,0.890947,0.899961,0.892771,0.003978,4
7,0.015627,0.010209,0.035715,0.002324,distance,82,"{'weights': 'distance', 'n_neighbors': 82}",0.875380,0.877980,0.877505,0.878181,0.888503,0.879510,0.004606,27
8,0.010936,0.000564,0.042442,0.013857,uniform,92,"{'weights': 'uniform', 'n_neighbors': 92}",0.890918,0.892932,0.887573,0.890727,0.899850,0.892400,0.004101,5
9,0.019554,0.014334,0.043330,0.008692,distance,92,"{'weights': 'distance', 'n_neighbors': 92}",0.875680,0.878201,0.877665,0.878491,0.888878,0.879783,0.004652,26
10,0.012607,0.002570,0.043683,0.005054,uniform,103,"{'weights': 'uniform', 'n_neighbors': 103}",0.890248,0.892193,0.887093,0.889946,0.899867,0.891869,0.004318,6
11,0.014747,0.009602,0.045041,0.006950,distance,103,"{'weights': 'distance', 'n_neighbors': 103}",0.875936,0.878326,0.877805,0.878722,0.889270,0.880012,0.004727,25
12,0.009416,0.000484,0.042011,0.006487,uniform,114,"{'weights': 'uniform', 'n_neighbors': 114}",0.889452,0.891712,0.886937,0.889387,0.899497,0.891397,0.004323,7
13,0.009564,0.000532,0.045944,0.009454,distance,114,"{'weights': 'distance', 'n_neighbors': 114}",0.876110,0.878478,0.877980,0.878878,0.889554,0.880200,0.004772,24
14,0.009207,0.000382,0.045969,0.006548,uniform,125,"{'weights': 'uniform', 'n_neighbors': 125}",0.888992,0.891445,0.886515,0.888800,0.899230,0.890996,0.004403,8
15,0.009441,0.000521,0.050292,0.009801,distance,125,"{'weights': 'distance', 'n_neighbors': 125}",0.876291,0.878626,0.878124,0.879028,0.889784,0.880371,0.004799,23
16,0.009591,0.000472,0.048230,0.006332,uniform,135,"{'weights': 'uniform', 'n_neighbors': 135}",0.888774,0.890940,0.886352,0.888503,0.899006,0.890715,0.004393,9
17,0.009391,0.000482,0.055807,0.011666,distance,135,"{'weights': 'distance', 'n_neighbors': 135}",0.876418,0.878702,0.878236,0.879156,0.889968,0.880496,0.004826,22
18,0.009642,0.000489,0.052097,0.009367,uniform,146,"{'weights': 'uniform', 'n_neighbors': 146}",0.888468,0.890623,0.885898,0.887974,0.898602,0.890313,0.004408,10
19,0.009423,0.000498,0.053079,0.005900,distance,146,"{'weights': 'distance', 'n_neighbors': 146}",0.876577,0.878810,0.878325,0.879214,0.890097,0.880605,0.004830,21
20,0.010146,0.001120,0.065722,0.012663,uniform,157,"{'weights': 'uniform', 'n_neighbors': 157}",0.887671,0.889978,0.885422,0.887553,0.898432,0.889811,0.004545,11
21,0.009971,0.000889,0.076589,0.021226,distance,157,"{'weights': 'distance', 'n_neighbors': 157}",0.876635,0.878825,0.878406,0.879262,0.890261,0.880678,0.004874,20
22,0.011580,0.003707,0.068220,0.014074,uniform,167,"{'weights': 'uniform', 'n_neighbors': 167}",0.887028,0.889197,0.885062,0.887138,0.897926,0.889270,0.004521,12
23,0.009406,0.000501,0.060394,0.005562,distance,167,"{'weights': 'distance', 'n_neighbors': 167}",0.876670,0.878782,0.878455,0.879331,0.890362,0.880720,0.004903,19
24,0.009197,0.000395,0.064601,0.010109,uniform,178,"{'weights': 'uniform', 'n_neighbors': 178}",0.886493,0.888468,0.884558,0.886492,0.897296,0.888662,0.004491,13
25,0.012174,0.005453,0.062847,0.002543,distance,178,"{'weights': 'distance', 'n_neighbors': 178}",0.876703,0.878772,0.878524,0.879304,0.890447,0.880750,0.004927,18
26,0.010219,0.001060,0.072072,0.011308,uniform,189,"{'weights': 'uniform', 'n_neighbors': 189}",0.885797,0.887912,0.884129,0.886237,0.896826,0.888180,0.004487,14
27,0.009961,0.000624,0.070746,0.009409,distance,189,"{'weights': 'distance', 'n_neighbors': 189}",0.876719,0.878777,0.878579,0.879335,0.890518,0.880785,0.004945,17
28,0.010010,0.000653,0.067238,0.008577,uniform,200,"{'weights': 'uniform', 'n_neighbors': 200}",0.885307,0.887339,0.883667,0.886028,0.896122,0.887693,0.004378,15
29,0.011178,0.002930,0.071973,0.007831,distance,200,"{'weights': 'distance', 'n_neighbors': 200}",0.876753,0.878792,0.878608,0.879356,0.890539,0.880810,0.004942,16

In [46]:
KNNRegression =rmcv.best_estimator_

In [47]:
KNNRegression

KNeighborsRegressor(n_neighbors=50)

In [48]:
KNNRegression.score(xtest,ytest)

0.9035931970477211

# KNN Classifier

In [49]:
df = df.drop(["New Y"], axis=1)

In [50]:
df

      Gender     Height      Weight
0          1  73.847017  241.893563
1          1  68.781904  162.310473
2          1  74.110105  212.740856
3          1  71.730978  220.042470
4          1  69.881796  206.349801
...      ...        ...         ...
8550       0  60.483946  110.565497
8551       0  63.423372  129.921671
8552       0  65.584057  155.942671
8553       0  67.429971  151.678405
8554       0  60.921791  131.253738

[8555 rows x 3 columns]

In [51]:
x1 = df.drop(["Gender"], axis=1)

In [52]:
x1.ndim

2

In [53]:
y1= df["Gender"]

In [54]:
y1.ndim

1

In [55]:
from sklearn.model_selection import train_test_split

In [56]:
x1train,x1test,y1train,y1test =train_test_split(x1,y1,test_size=0.3,random_state=1)

In [57]:
from sklearn.neighbors import KNeighborsClassifier

In [58]:
kncls =KNeighborsClassifier()

In [59]:
kncls.fit(x1train,y1train)

KNeighborsClassifier()

In [60]:
kncls.predict([[60.921791,131.253738]])

array([0])

In [61]:
kncls.score(x1test,y1test)

0.9146864043630697

# Tuning

In [62]:
k_neighbors = [int(x) for x in np.linspace(10,100,15) ]
weights =['uniform', 'distance']

grids ={
   "n_neighbors":k_neighbors,
    "weights":weights
}
print(grids)

{'n_neighbors': [10, 16, 22, 29, 35, 42, 48, 55, 61, 67, 74, 80, 87, 93, 100], 'weights': ['uniform', 'distance']}

In [63]:
from sklearn.model_selection import RandomizedSearchCV

In [64]:
knclass =KNeighborsClassifier()

In [65]:
rmcvcls =RandomizedSearchCV(estimator=knclass,param_distributions=grids,n_iter=100 ,cv=5)

In [66]:
rmcvcls

RandomizedSearchCV(cv=5, estimator=KNeighborsClassifier(), n_iter=100,
                   param_distributions={'n_neighbors': [10, 16, 22, 29, 35, 42,
                                                        48, 55, 61, 67, 74, 80,
                                                        87, 93, 100],
                                        'weights': ['uniform', 'distance']})

In [67]:
rmcvcls.fit(x1train,y1train)

C:\Users\Binu\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:285: UserWarning: The total space of parameters 30 is smaller than n_iter=100. Running 30 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

RandomizedSearchCV(cv=5, estimator=KNeighborsClassifier(), n_iter=100,
                   param_distributions={'n_neighbors': [10, 16, 22, 29, 35, 42,
                                                        48, 55, 61, 67, 74, 80,
                                                        87, 93, 100],
                                        'weights': ['uniform', 'distance']})

In [68]:
rmcvcls.best_params_

{'weights': 'distance', 'n_neighbors': 48}

In [69]:
rmcvcls.best_score_

0.9139967336259402

In [70]:
rmcvcls.score(x1test,y1test)

0.9216984807167901